@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Pacifico&display=swap");
@import "tailwindcss";

:root {
	--color-yellow: #e99f1b;
	--yellow-accent: #edb043;
	--color-dark-grey: #181818;
	--color-white: #fcf7f7;
	--color-black: #000000;
	--color-sidebar: #221f1f;

	--color-background: #181818;
	--color-navbar: #0e0c0c;
	--color-text-primary: #e0e0e0;
	--color-text-secondary: #b0b0b0;
	--color-border: #444444;
	--color-accent: #888888;

	--foreground: #1f242e;
	--sidebar-accent: #2d3443;
	--border: #e2e4e9;
	--muted-text: #676d79;
	--font-header: #2b303b;
	--muted-chart: #f0f2f480;

	--font-display: "Plus Jakarta Sans", sans-serif;
	--font-cursive: "Pacifico", cursive;
}
@font-face {
	font-family: "Capture";
	src: url("/fonts/Capture_it.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px) scale(0.98);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.fadeIn {
	animation: fadeIn 0.3s ease-out;
}

@keyframes growDown {
	0% {
		opacity: 0;
		max-height: 0;
	}
	100% {
		opacity: 1;
		max-height: 1000px;
	}
}

.growDown {
	overflow: hidden;
	animation: growDown 0.8s ease-out;
}

html {
	overflow: hidden;
}

body {
	width: "100%";
	font-family: "Onest", sans-serif;
	scroll-behavior: smooth;
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

h1 {
	font-size: clamp(1rem, 5vw, 2rem);
	line-height: 1.5;
	font-weight: 700;
}

h2 {
	font-size: clamp(1.5rem, 4vw, 3rem);
	line-height: 1.3;
	font-weight: 600;
	margin-bottom: 0.75rem;
}

h3,
.icon-size {
	font-size: clamp(1rem, 3vw, 1.5rem);
	line-height: 1.4;
	font-weight: 500;
}

p {
	font-size: clamp(1rem, 2.5vw, 1.25rem);
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-display);
}
