@import "tailwindcss";

:root {
	--color-yellow: #e99f1b;
	--color-dark-grey: #181818;
	--color-white: #fcf7f7;
	--color-black: #000000;
	--color-sidebar: #221f1f;

	--color-background: #181818;
	--color-navbar: #0e0c0c;
	--color-text-primary: #e0e0e0;
	--color-text-secondary: #b0b0b0;
	--color-border: #444444;
	--color-accent: #888888;
}
@font-face {
	font-family: "Capture";
	src: url("/fonts/Capture_it.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px) scale(0.98);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.fadeIn {
	animation: fadeIn 0.3s ease-out;
}

@keyframes growDown {
	0% {
		opacity: 0;
		max-height: 0;
	}
	100% {
		opacity: 1;
		max-height: 1000px;
	}
}

.growDown {
	overflow: hidden;
	animation: growDown 0.8s ease-out;
}

html {
	overflow-x: hidden;
}

body {
	width: "100%";
	font-family: "Onest", sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
